* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
.flex {
  display: flex;
}
.wrapper {
  max-width: 800px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #476ce4;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
}
p {
  text-align: justify;
  line-height: 25px;
}
img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding-top: -24px;
  border-radius: 50%;
  margin-right: 20px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.time-line {
  height: 3px;
  background: #fff;
  margin-bottom: 15px;
  animation: anim 6s linear;
}

@keyframes anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
