* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: steelblue;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.hold {
  border: solid 5px #ccc;
}
.empty {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #000;
  background: white;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
