* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.number {
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
  color: #999;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.active__number {
  border: 3px solid #3498db;
}

.line {
  width: 70px;
  height: 4px;
  background-color: #e0e0e0;
  transition: 0.4s ease;
}

.active__line {
  background-color: #3498db;
}

.btns {
  display: flex;
  justify-content: center;
}

#btn__min,
#btn__plus {
  color: #ffffff;
  border-radius: 10px;
  background-color: #3498db;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.disable {
  background-color: #e0e0e0 !important;
  cursor: not-allowed !important;
}
